<!-- Recipe results and calendar -->
<!-- Recipe results-->
<div class="row">
  <div class="col s6" id="recipes">
    <h6>Suggested Recipes:</h6>
    <hr><br>
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle">restaurant_menu</i> <!-- Change to recipe images later -->
        <span class="title">Recipe name</span>
        <p>Description<br>
          Link
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">favorite_border</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">restaurant_menu</i>
        <span class="title">Recipe name</span>
        <p>Description <br>
          Link
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">favorite_border</i></a>
      </li>
    </ul>
  </div>

  <!-- Calendar-->
  <div class="col s6" id="calendar">
    <h6>3 Day Calendar:</h6>
    <hr><br>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Day 1</th>
          <th>Day 2</th>
          <th>Day 3</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th>Breakfast&nbsp;</th>
          <td>Recipe goes here</td>
          <td>Recipe goes here</td>
          <td>Recipe goes here</td>
        </tr>
        <tr>
          <th>Lunch&nbsp;</th>
          <td>Recipe goes here</td>
          <td>Recipe goes here</td>
          <td>Recipe goes here</td>
        </tr>
        <tr>
          <th>Dinner&nbsp;</th>
          <td>Recipe goes here</td>
          <td>Recipe goes here</td>
          <td>Recipe goes here</td>
        </tr>
      </tbody>
    </table>
  </div>
</div><!--row-->


<!-- Javascript links -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>






<!-- Boilerplate code -->
{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> --}}