body {
  color: darkslategrey;
}

/* Top Banner */

#banner {
  position: relative;
  border-bottom: 6px solid lightgrey;
}

#logoutButton {
  float: right;
  position: relative; 
  bottom: 40px;
  right: 40px;
}

.icon {
  width: 90px;
  position: relative;
  top: 25px;
}

/* Prevents link from showing up as blue for Plateful header  */
a { 
  color: inherit; 
} 

h1 {
  font-family: 'Quicksand', sans-serif;
  color: white;
  position: relative;
  bottom: 5px;
}

h5 {
  font-family: 'Quicksand', sans-serif;
  color: white;
  padding-bottom: 20px;
  position: relative;
  bottom: 30px;
  left: 6px;
}

/* Search bar */

/* label color */

.input-field label {
  color: darkslategray;
}

/* label focus color */

.input-field input[type=text]:focus+label {
  color: darkslategray;
}

/* label underline focus color */

.input-field input[type=text]:focus {
  border-bottom: 1px solid darkslategray;
  box-shadow: 0 1px 0 0 darkslategray;
}

/* valid color */

.input-field input[type=text].valid {
  border-bottom: 1px solid darkslategray;
  box-shadow: 0 1px 0 0 darkslategray;
}

/* invalid color */

.input-field input[type=text].invalid {
  border-bottom: 1px solid darkslategray;
  box-shadow: 0 1px 0 0 darkslategray;
}

/* icon prefix focus color */

.input-field .prefix.active {
  color: darkslategray;
}

.row .col .calendarCel{ 
  min-width: 100px;
  min-height: 150px !important;
}



#search {
  position: relative;
  left: 12.5%;
  bottom: 30px;
  width: 75%;
}

#text {
  color: darkslategray;
  font-size: 16px;
}

/* 
#search-button {
  float: right !important;
  position: relative;
  bottom: 25px;
} */

#search-button {
  margin-top:8%;
}

/*Recipe cards*/

/* .activator {
  max-height: 150px !important;
  max-height: 100px !important;
} */

#headers {
  padding: 20px 70px 20px 70px;
}

.activator {
  height: 100% !important;
}

#recipes {
  padding: 20px 70px 20px 70px;
}

.card-image {
  width: 100% !important;
  height: 100% !important;
}

.card-title {
  font-size: 15px !important;
  line-height: 1.5 !important;
}

/* 3 Day Calendar */

#calendar {
  padding: 20px 70px 20px 70px;
} 

.day {
  font-weight: bold;
}

.ingredients-buttons {
  margin-right: 1%;
}
