<li>
<div class="card small">
  <div class="card-image">
    <img src="{{recipe.image_url}}">
    <span class="empty"></span> </div>
  <div class="card-content">
    <p class="recipe-title">{{recipe.title}}</p>
  </div>
  <div class="card-action">
    <a href="{{recipe.source_url}}" class="recipe-url">{{recipe.publisher_url}}</a>
  </div>
</div>
</div>
</li>