{{!-- <li>
<div class="card small">
  <div class="card-image">
    <img src="{{image_url}}">
    <span class="empty"></span> </div>
  <div class="card-content">
    <p class="recipe-title">{{title}}</p>
  </div>
  <div class="card-action">
    <a href="{{source_url}}" class="recipe-url">{{publisher_url}}</a>
  </div>
</div>
</div>
</li> --}}

<div class="container" id="recipes"></div>